body {
    background-color: rgba(159, 230, 233, 0.719);
}
p.comunidad {
    text-align: center;
    font-family: 'DotGothic16', sans-serif;
    src: url(fuente/DotGothic16-Regular.ttf);
    color: yellow;
    font-size: x-large;
}
p.ciudad2 {
    color: blue;
    font-size: small;
}
div.ciudad {
    background-color: white;
    position: relative;
}
div.datos {
    background-color: rgb(218, 125, 109);
    position: absolute;
    top: 170px;
}
span.texto {
    background-color: blue;
    color: white;
    font-size: large;
}
div.texto {
    background-color: rgba(159, 230, 233, 0.719);
    position: absolute;
    top: 170px;
    left: 385px;
}
div.centrado {
    position: relative;
    background-color: white;
    top: 150px;
}
span.centrado {
    color: red;
}
p.centrado {
    text-align: center;
}










